@media only screen and (max-width: 992px) {
    .small-button .wrapper {
        display: inline !important;
    }
    .small-button .button-text {
        display: none !important;
    }
    .small-button .button-icon {
        margin-right: 0px !important;
    }
}

@media only screen and (max-width: 768px) {
    .action-button {
        margin: 0.5rem 0.5rem 0.5rem 0.5rem !important;
        height: 3rem !important;
        font-size: 1rem !important;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

.wrapper {
    display: flex;
    color: white;
    align-items: center;
}

.mat-mdc-outlined-button {
    margin: 1rem 1rem 1rem 1rem;
    background-color: var(--bronze-metallic);
    border-radius: 6px;
    height: 3.2rem;
    font-size: 1.4rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    border-color: var(--antique-white) !important;
    &:hover {
        outline: 3px solid var(--antique-white);
        background-color: transparent;
        color: var(--antique-white);
    }
    &:focus {
        outline: 3px solid var(--antique-white);
    }
}

.mat-mdc-outlined-button:disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
}

.button-icon {
    margin-right: 0.6rem;
}
