
.mat-stroked-button {
    color: var(--antique-white);
    background-color: var(--kimberly);
    border-radius: 6px;
    height: 42px;
    width: 220px;
    font-size: 18px;
    border-color: var(--antique-white);
    &:hover {
        outline: 3px solid var(--antique-white);
    }
}

.mat-icon {
    margin-right: 10px;
}
