.footer-wrapper {
    padding: 1rem 1.5rem 1rem 1.5rem;
    color: var(--swiss-coffe);
}

.footer-flex {
    display: flex;
    justify-content: space-around;
    gap: 3rem;
}

@media only screen and (max-width: 992px) {
    .footer-flex {
        display: flex;
        flex-direction: column;
    }
}

.card-wrapper {
    border-radius: 4px 4px 0px 0px !important;
    width: 100vw;
}

.footer-contact,
.footer-about {
    flex: 1;
}

.footer-contact-email {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.copy-button {
    color: white;
    border: 1px solid var(--swiss-coffe);
    background-color: var(--scampi);
    padding: 3px 6px;
    border-radius: 6px;
    cursor: pointer;
    &:hover {
        outline: 1px solid var(--antique-white);
        background-color: transparent;
        color: var(--antique-white);
        border-color: var(--antique-white) !important;
    }
    &:focus {
        outline: 1px solid var(--antique-white);
    }
}