.current-cost {
    padding-top: 20px; 
}
.current-cost-index {

}
.current-cost-months-period {
    width: 230px;
    margin-left: 20px;
    padding-left: 10.5px;
    padding-right: 10.5px;
}

.current-cost-type {

}
.current-cost-value {

}

.remove-button {
    padding-left: 40px;
}