@media only screen and (max-width: 992px) {
    .flex-wrapper {
        align-items: center;
    }

    .small-button .flex-wrapper {
        align-items: center;
        row-gap: 30px;
    }

    .small-button .flex-item {
        flex-direction: column;
    }

    .current-cost-months-period {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .flex-wrapper {
        align-items: baseline;
        column-gap: 25px;
    }

    .small-button .flex-wrapper {
        align-items: baseline;
    }

    .small-button .flex-item {
        flex-direction: row;
    }

    .current-cost-months-period-shortcut {
        display: none;
    }

    .current-cost-name {
        margin-left: 1rem;
    }
}

.flex-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    column-gap: 30px;
}