:host {
    width: 281px;
}

.mat-button-toggle-group {
    left: 40px;
    border-radius: 6px;
    border-color: var(--antique-white);

}

.toggle-button-wrapper {
    padding-bottom: 1.34375em;
    margin: 0.25em 0;
}

.mat-button-toggle {
    color: var(--swiss-coffe);
    background-color: rgba(var(--scampi));
}

.mat-button-toggle-checked {
    color: var(--antique-white);
}

.mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle {
    border-left: solid 1px var(--antique-white);
}

::ng-deep {
        .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
            line-height: 52px !important;
    }
}

.mat-button-toggle-checked {
    background-color: var(--kimberly);
}
