<app-field-title [title]="configuration.fieldTitle"></app-field-title>

<mat-form-field appearance="outline" (click)="dp.open()">
  <mat-label>{{configuration.label}}</mat-label>
  <input matInput [matDatepicker]="dp" [formControl]="date" tabindex="-1">
  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp
                  startView="multi-year"
                  (yearSelected)="chosenYearHandler($event)"
                  (monthSelected)="chosenMonthHandler($event, dp)"
                  panelClass="example-month-picker">
  </mat-datepicker>
</mat-form-field>