<section class="card-wrapper">

    <div data-cy="loan-panel" class="loan-panel">
        <app-card-header [header]="cardHeader"></app-card-header>

        <div class="flex-row-wrapper">
            <app-input-field [configuration]="amountLoanField"
            (valueChange)="onAmountLoan($event)"></app-input-field>

            <app-input-field [configuration]="monthsOfCredit"
            (valueChange)="onMonthsOfCredit($event)"></app-input-field>

            <app-input-field [configuration]="rate"
            (valueChange)="onRate($event)"></app-input-field>

            <app-button-toggle [configuration]="installments"
            (valueChange)="onInstallmentsButtonToggle($event)">
            </app-button-toggle>

            <app-datepicker [configuration]="startDate"
            (valueChange)="onStartDate($event)"></app-datepicker>

            <app-datepicker [configuration]="firstPaymentDate"
            (valueChange)="onFirstPayment($event)"></app-datepicker>

            <div class="empty-space"></div>

        </div>

        <div class="action-button-right">
            <app-button data-cy="calculate-button"
                [configuration]="calculateButton"
                [isDisabled]="!areParametersFieldsValid()"
                (userClick)="calculateLoan()"
            ></app-button>
        </div>
    </div>
</section>