h2 {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    margin: 0 0;
}

.flex-card-header {
    display: flex;
    align-items: baseline
}

.card-header-value {
    padding-left: 0.5rem;
    color: var(--swiss-coffe);
}
