h1 {
    font-size: 3.6rem;
    line-height: 3.6rem;
    font-weight: 800;
}

@media only screen and (max-width: 658px) {
    h1 {
        font-size: 2rem;
        line-height: 2rem;
    }
}

.header-wrapper {
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.card-wrapper {
    border-radius: 0px 0px 4px 4px !important;
    width: 100vw;
}

h2 {
    margin: 0 0 8px;
}

.header-flex-wrapper {
    display: flex;
}

.logo {
    padding-right: 0.6rem;
    opacity: 0.6;
}