<section class="card-wrapper">

    <app-card-header [header]="cardHeader"></app-card-header>

    <div class="flex-row-wrapper">
        <app-input-field [configuration]="overpaymentValueInputField"
        (valueChange)="onValueChange($event)"></app-input-field>

        <app-datepicker [configuration]="overpaymentDateField"
        (valueChange)="onDateChange($event)"></app-datepicker>

        <app-input-field [configuration]="monthsInputField"
        (valueChange)="onNumberOfMonthsChange($event)"></app-input-field>
    </div>

    <div class="action-button-right">
        <app-button [configuration]="addOverpaymentButton" [isDisabled]="!areFieldsValid()" (onClick)="addOverpayment()"></app-button>
    </div>

    <app-divider [isShown]="areCurrentOverpayments()"></app-divider>
    <div *ngFor="let overpayment of currentOverpayments">
        <div *ngIf="!isOverpaymentDeleted(overpayment)" @fadeSlideInOut class="flex-wrapper current-overpayments">
            <span class="current-overpayments-months-period">{{overpayment.monthYearPeriod}}</span>
            <span class="current-overpayments-months-period-shortcut">{{overpayment.monthYearPeriodShortcut}}</span>
            <span class="current-overpayments-value">{{overpayment.value | currency:'zł'}}</span>
            <app-button class="remove-button" [configuration]="deleteOverpaymentButton" (onClick)="deleteOverpayment(overpayment)"></app-button>
        </div>
    </div>
</section>