<section>

    <mat-expansion-panel class="card-wrapper">
        <mat-expansion-panel-header>
            <app-card-header [header]="cardHeader"></app-card-header>
        </mat-expansion-panel-header>

        <div class="flex-row-wrapper">
            <app-input-field [configuration]="overpaymentValueInputField"
            (valueChange)="onValueChange($event)"></app-input-field>

            <app-datepicker [configuration]="overpaymentDateField"
            (valueChange)="onDateChange($event)"></app-datepicker>

            <app-input-field [configuration]="monthsInputField"
            (valueChange)="onNumberOfMonthsChange($event)"></app-input-field>

            <app-button-toggle [configuration]="overpayments"
            (valueChange)="onOverpaymentsButtonToggle($event)">
            </app-button-toggle>
    
            <div class="empty-space"></div>
        </div>

        <div class="action-button-right">
            <app-button [configuration]="addOverpaymentButton" [isDisabled]="!areFieldsValid()" (onClick)="addOverpayment()"></app-button>
        </div>

        <app-divider [isShown]="areCurrentOverpayments()"></app-divider>
        <div *ngFor="let overpayment of currentOverpayments">
            <div *ngIf="!isOverpaymentDeleted(overpayment)" @fadeSlideInOut class="flex-wrapper current-overpayments">
                <span class="current-overpayments-months-period">{{overpayment.monthYearPeriod}}</span>
                <span class="current-overpayments-months-period-shortcut">{{overpayment.monthYearPeriodShortcut}}</span>
                <span>{{overpayment.value | currency:'zł'}}</span>
                <span>{{overpayment.type}}</span>
                <app-button class="remove-button" [configuration]="deleteOverpaymentButton" (onClick)="deleteOverpayment(overpayment)"></app-button>
            </div>
        </div>
    </mat-expansion-panel>
</section>