
@media only screen and (max-width: 992px) {
    .current-overpayments-months-period {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .current-overpayments-months-period-shortcut {
        display: none;
    }
    .current-overpayments-months-period {
        margin-left: 1rem;
    }
}

.current-overpayments {
    padding-top: 16px;
}

.flex-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
