<section class="card-wrapper">

    <app-card-header [header]="cardHeader"></app-card-header>

    <div class="flex-row-wrapper">
        <app-input-field [configuration]="overpaymentValueInputField"
        (valueChange)="onValueChange($event)"></app-input-field>

        <app-datepicker-range [configuration]="overpaymentPeriodDateField"
        (valueChange)="onDateChange($event)"></app-datepicker-range>
    </div>

    <div class="action-button-right">
        <app-button [configuration]="addOverpaymentButton" (click)="addOverpayment()"></app-button>
    </div>

    <mat-divider *ngIf="areCurrentOverpayments()"></mat-divider>

    <div *ngFor="let overpayment of currentOverpayments; index as i">
        <div class="flex-row-wrapper current-overpayments">
            <span class="current-overpayments-index">{{i+1}}</span>
            <span class="current-overpayments-months-period">{{overpayment.monthYearPeriod}}</span>
            <span class="current-overpayments-value">{{overpayment.value | currency:'zł'}}</span>
            <app-button class="remove-button" [configuration]="deleteOverpaymentButton" (click)="deleteOverpayment(overpayment)"></app-button>
        </div>
    </div>
</section>