.current-overpayments {
    padding-top: 20px;
}

.current-overpayments-index {

}

.current-overpayments-months-period {
    width: 230px;
    margin-left: 20px;
    padding-left: 10.5px;
    padding-right: 10.5px;
}

.current-overpayments-value {

}

.remove-button {
    padding-left: 40px;
}