<section class="card-wrapper">

    <app-card-header [header]="cardHeader"></app-card-header>

    <div class="flexbox-wrapper">
        <span class="tranche-index">1</span>
        <span class="tranche-date">{{firstTranche.date}}</span>

        <div class="tranche-value-flex-wrapper">
            <app-input-field class="tranche-rate" [configuration]="firstTranchePercentageInput"
            (valueChange)="updateFirstTrancheValueOnRateChanges($event)"></app-input-field>
            <span class="tranche-value">{{firstTranche.value | currency:'zł'}}</span>
        </div>
    </div>


    <div *ngFor="let tranche of tranchesView; index as i">
        <div class="flexbox-wrapper">
            <span class="tranche-index">{{i + 2}}</span>
            <app-datepicker [configuration]="tranche.datePickerConfig"
            (valueChange)="updateTranchesDateByTrancheId($event, tranche.trancheIndex)"></app-datepicker>

            <div class="tranche-value-flex-wrapper">
                <app-input-field class="tranche-rate" [configuration]="tranche.inputFieldConfig"
                (valueChange)="updateTrancheValueOnRateChangesByTrancheId($event, tranche.trancheIndex)"></app-input-field>
                <span class="tranche-value">{{tranche.value | currency:'zł'}}</span>
            </div>

            <div>
                <app-button class="remove-button" [configuration]="removeTrancheButton" (onClick)="removeTranche(tranche.trancheIndex)"></app-button>
            </div>
        </div>
    </div>

    <div class="action-button-right">
        <app-button [configuration]="addTrancheButton" (onClick)="addTranche()"></app-button>
    </div>
</section>