@media only screen and (max-width: 768px) {
  h3 {
    font-size: 1rem !important;
  }
}

h3 {
  margin-bottom: 0px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: var(--antique-white);
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
  height: 40px;
}