<div *ngIf="show" @fadeSlideIn>
    <app-field-title [title]="configuration.fieldTitle"></app-field-title>

    <div class="input-field-container">

        <button (click)="decrease()" mat-icon-button>
            <app-icon [icon]="IconNameType.MINUS"></app-icon>
        </button>

        <mat-form-field appearance="outline">
            <mat-label>{{configuration?.label}}</mat-label>
            <input type="number" matInput placeholder={{configuration?.placeholder}} [(ngModel)]="configuration.value" (ngModelChange)="onChange($event)">
            <mat-hint>{{configuration?.hint}}</mat-hint>
        </mat-form-field>

        <button (click)="increase()" mat-icon-button>
            <app-icon [icon]="IconNameType.ADD"></app-icon>
        </button>
    </div>
</div>