:host {
    width: 281px;
}

::ng-deep {
    .mat-mdc-form-field {
        ::placeholder {
            color: var(--swiss-coffe) !important;
            opacity: 80% !important;
        }
    }
}

.input-field-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.mat-mdc-form-field-error {
    display: flex;
    align-items: center;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: var(--swiss-coffe) !important;
    opacity: 80% !important;
}

.error-icon {
    padding-right: 4px;
}

.hint {
    color: var(--swiss-coffe);
}