<div class="card-wrapper simulation-card">


    <div class="flex-wrapper">
        
        <div class="month-index">
            {{data.index}}
        </div>

        <div class="month-year">
            {{data.date}}
        </div>

        <div class="interest-rate">
            {{data.rate | percent: '1.0-2'}}
        </div>

        <div class="principal">
            {{data.principal | number:'1.0-2'}}
        </div>

        <div class="interest">
            {{data.interest | number:'1.0-2'}}
        </div>

        <div class="installment">
            {{data.installment| number:'1.0-2'}}
        </div>

        <div class="extra-costs">
            {{data.extraCosts ? (data.extraCosts | number:'1.0-2') : '-'}}
        </div>

        <div class="excess">
            {{data.excessCosts ? (data.excessCosts | number:'1.0-2') : '-'}}
        </div>

        <div class="payment">
            {{data.payment | number:'1.0-2'}}
        </div>

        <div class="saldo">
            {{data.saldo | number:'1.0-2' }}
        </div>

    </div>


</div>