<div class="flex-wrapper">

    <div class="payment-wrapper">

        <div class="payment-date">{{data.date}}</div>
        <div class="payment-text">{{data.payment | currency: 'zł'}}</div>
        <div class="payment-description">kwota do zapłaty</div>

    </div>

    <div class="saldo-wrapper">
        <div class="saldo">
            <div class="saldo-text">{{data.saldo | currency: 'zł'}}</div>
            <div class="saldo-description">saldo kredytu</div>
        </div>

        <div class="rate">
            <div class="rate-text">{{data.rate | percent: '1.0-6'}}</div>
            <div class="rate-description">oprocentowanie</div>
        </div>

    </div>

    <div class="bar-wrapper">
        <app-bar-chart [bars]="calcBars()"></app-bar-chart>


        <div class="legend-wrapper">
            <div *ngFor="let bar of bars">
                <div class="legend">
                    <div class="legend-icon" [ngStyle]="{'background-color': bar.color}"></div>
                    <div class="legend-name">{{bar.name}}</div>
                </div>
                <div class="legend-value">{{bar.value | currency: 'zł'}}</div>
            </div>
        </div>

    </div>
</div>