.flex-wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    column-gap: 2.5rem;
    width: 903px;
}

.payment-wrapper, .saldo-wrapper, .bar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.payment-wrapper {
    flex-basis: 10%;
}

.saldo-wrapper {
    flex-basis: 10%;
}

.bar-wrapper {
    flex-basis: 80%;
}

.payment-date {
    font-size: 1rem;
    color: var(--swiss-coffe);
}

.payment-text {
    font-size: 2rem;
    padding: 0.4rem 0;
}

.payment-description, .saldo-description, .rate-description {
    color: var(--swiss-coffe);
    font-size: 0.8rem;
}

.saldo {
    padding-bottom: 0.6rem;
}

.saldo-text, .rate-text {
    font-size: 1rem;
}

.legend-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-right: 0.8rem;
    padding-left: 0.3rem;
}

.legend {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.legend-name {
    color: var(--swiss-coffe);
}

.legend-icon {
    width: 12px;
    height: 12px;
    border-radius: 4px;
    margin: 0.5rem 0.5rem;
}

.legend-value {
    margin-left: 0.5rem
}
