
:host {
    width: 281px;
}

.range-datepicker {
    width: 201px;
}

.mat-form-field {
    cursor: pointer;
    left: 40px;
}

::ng-deep {
    .mat-date-range-input-separator {
        color: var(--antique-white);
    }
}