@media only screen and (max-width: 992px) {
  .current-rate-months-period {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .current-rate-months-period-shortcut {
    display: none;
  }

  .current-rate-value {
    margin-left: 1rem;
  }
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
