<section class="card-wrapper">

    <app-card-header [header]="cardHeader"></app-card-header>

    <div class="flex-row-wrapper">

        <app-input-field [configuration]="rateInputField" (valueChange)="onRateChange($event)">
        </app-input-field>

        <app-datepicker [configuration]="datePicker" (valueChange)="onDateChange($event)">
        </app-datepicker>

        <app-input-field [configuration]="monthsInputField" (valueChange)="onNumberOfMonthsChange($event)">
        </app-input-field>

        <app-divider [isShown]="areRateChanges()"></app-divider>
    </div>

    <div class="action-button-right">
        <app-button [configuration]="addRateButton" [isDisabled]="!areFieldsValid()" (onClick)="addRate()"></app-button>
    </div>

    <app-divider [isShown]="areRateChanges()"></app-divider>

    <div *ngFor="let rate of rateChanges; index as i">

        <div class="flex-row-wrapper current-rate">
            <span class="current-rate-index">{{i+1}}</span>
            <span class="current-rate-value">{{rate.value / 100 | percent: '1.0-2'}}</span>
            <span class="current-rate-months-period">{{rate.monthYearPeriod}}</span>
            <app-button class="remove-button" [configuration]="deleteRateButton" (onClick)="deleteRate(rate)"></app-button>
        </div>

    </div>
</section>