/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap');
@import '~@angular/material/theming';
:root 
{
    --antique-white: #FBEBDC;
    --scampi: #6768AB;
    --kimberly: #7573A9;
    --swiss-coffe: #DED2D3;
    --medium-devices-width: 768px;
    --large-devices-width: 992px;
    --bronze-metallic: #a08e5f;
}

// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {...}

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {...}

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {...}

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {...}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}

html, body {
    font-weight: bold;
    font-family: 'Archivo', sans-serif;
}

body {
    background-color: var(--scampi);
    background-image: url("./assets/background-photo-min-1.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

$custom-typography: mat-typography-config(
  $font-family: 'Archivo',
);
@include mat-base-typography($custom-typography);
@include mat-button-typography($custom-typography);
@include mat-button-toggle-typography($custom-typography);
@include mat-form-field-typography($custom-typography);
@include mat-input-typography($custom-typography);

@media only screen and (max-width: 768px) {
    .card-wrapper {
        // przyjrzec sie szerokosci kart dla malych ekranow
        // min-width: 90vw;
        // max-width: 100%
        // padding: 1rem 2rem;
    }
}

@media only screen and (min-width: 768px) {
    .card-wrapper {
        // padding: 1rem 2rem;
    }
}

.empty-space {
    width: 281px;
}

.card-wrapper {
    max-width: 951px;
    color: var(--antique-white);
    background: radial-gradient(534.03% 696.81% at 76.12% -126.39%, rgba(31, 23, 46, 0.8) 0%, rgba(103, 104, 171, 0.8) 42.26%);
    backdrop-filter: blur(50px);
    border-radius: 4px;
    opacity: 92%;
}

.card-wrapper h2 {
    color: var(--swiss-coffe);
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    padding: 0 26px !important;
}

.mat-button-toggle-checked .mat-button-toggle-focus-overlay {
    border-bottom: solid 52px !important;
}


@media only screen and (max-width: 658px) {
    .action-button-right {
        justify-content: center;
    }
}

@media only screen and (min-width: 658px) {
    .action-button-right {
        justify-content: flex-end;
    }
}

.action-button-right {
    display: flex;
    flex-direction: row;
}

.mat-input-element {
    caret-color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.mat-select-arrow {
    color: var(--antique-white);
}

.mat-select-value {
    color: var(--antique-white);
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: var(--swiss-coffe);
}

.mat-select-panel {
    background: var(--scampi);
}

.mat-option {
    color: var(--antique-white);
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: var(--swiss-coffe);
}

input {
    cursor: pointer;
}

.mat-datepicker-toggle {
    color: var(--antique-white);
}

.mat-datepicker-toggle-active {
    color: var(--swiss-coffe);
}

@media only screen and (max-width: 658px) {
    .flex-row-wrapper {
        justify-content: center;
    }
}

@media only screen and (min-width: 658px) {
    .flex-row-wrapper {
        justify-content: flex-start;
    }
}

.flex-row-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: center;
    row-gap: 30px;
    column-gap: 30px;
}

.mat-divider {
    border-top-color: rgb(251, 235, 220, .12);
}

@media only screen and (max-width: 992px) {
    .remove-button {
        display: flex;
        align-items: center;
    }
    .remove-button .mat-stroked-button {
        margin: 0 0 0 0 !important;
        width: 42px !important;
        min-width: 42px !important;
        height: 42px !important;
        padding: 0 0 !important;
    }
}

.remove-button .mat-stroked-button {
    background-color: var(--kimberly) !important;
    &:hover {
        background-color: transparent !important;
    }
}

.mat-tooltip {
    color: var(--antique-white) !important;
    background-color: var(--scampi) !important;
}

.mat-expansion-indicator:after {
    color: var(--swiss-coffe);
}

.mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {
    background: none !important;
}

.mat-slider-thumb-label-text {
    color: #1F172E !important;
}

.mat-slider-thumb, .mat-slider-thumb-label, .mat-accent .mat-slider-track-fill {
    background-color: #FF9914 !important;
}