/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap');
@import '@angular/material/theming';

:root {
    --antique-white: #FBEBDC;
    --scampi: #6768AB;
    --kimberly: #7573A9;
    --swiss-coffe: #DED2D3;
    --medium-devices-width: 768px;
    --large-devices-width: 992px;
    --bronze-metallic: #a08e5f;
}

// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {...}

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {...}

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {...}

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {...}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}

html,
body {
    font-weight: bold;
    font-family: 'Archivo', sans-serif;
}

body {
    background-color: var(--scampi);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@media (min-width: 1025px) {
    .background {
        background-image: url("./assets/background-desktop-1.jpg");
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .background {
        background-image: url("./assets/background-tablet-1.jpg");
    }
}

@media (max-width: 480px) {
    .background {
        background-image: url("./assets/background-mobile-1.jpg");
    }
}

$custom-typography: mat-typography-config($font-family: 'Archivo',
    );
@include mat-base-typography($custom-typography);
@include mat.button-typography($custom-typography);
@include mat-button-toggle-typography($custom-typography);
@include mat.form-field-typography($custom-typography);
@include mat.input-typography($custom-typography);

// @media only screen and (max-width: 768px) {
//     .card-wrapper {
//         // przyjrzec sie szerokosci kart dla malych ekranow
//         // min-width: 90vw;
//         // max-width: 100%
//         // padding: 1rem 2rem;
//     }
// }

// @media only screen and (min-width: 768px) {
//     .card-wrapper {
//         // padding: 1rem 2rem;
//     }
// }

.empty-space {
    width: 281px;
}

.card-wrapper {
    max-width: 951px;
    color: var(--antique-white);
    background: radial-gradient(534.03% 696.81% at 76.12% -126.39%, rgba(31, 23, 46, 0.8) 0%, rgba(103, 104, 171, 0.8) 42.26%);
    backdrop-filter: blur(50px);
    border-radius: 4px;
    opacity: 92%;
}

.card-wrapper h2 {
    color: var(--swiss-coffe);
}

.section-panel {
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.mat-mdc-form-field {
    width: 185px;
}

.mat-button-toggle {
    width: 50%;
    white-space: unset !important;
}

.mat-button-toggle-group {
    white-space: unset !important;
}

.mat-button-toggle-button {
    height: 100%;
}

.mat-button-toggle {
    display: flex;
    align-items: center;
}

.mat-button-toggle-label-content {
    line-height: 1.2rem !important;
}

@media only screen and (max-width: 658px) {
    .action-button-right {
        justify-content: center;
    }
}

@media only screen and (min-width: 658px) {
    .action-button-right {
        justify-content: flex-end;
    }
}

.action-button-right {
    display: flex;
    flex-direction: row;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.mat-mdc-select-arrow {
    color: var(--antique-white);
}

.mat-mdc-select-value {
    color: var(--antique-white);
}

.mdc-text-field__input {
    caret-color: white !important;
    color: var(--antique-white) !important;
}

.mat-mdc-floating-label {
    color: var(--antique-white) !important;
}

.mat-mdc-select-panel {
    background: var(--scampi);
}

.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after,
.mat-primary .mat-mdc-option .mdc-list-item__primary-text {
    color: var(--swiss-coffe) !important;
}

.mat-datepicker-toggle {
    color: var(--antique-white);
}

.mat-datepicker-toggle-active {
    color: var(--swiss-coffe);
}

@media only screen and (max-width: 658px) {
    .flex-row-wrapper {
        justify-content: center;
    }
}

@media only screen and (min-width: 658px) {
    .flex-row-wrapper {
        justify-content: flex-start;
    }
}

.flex-row-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: center;
    row-gap: 30px;
    column-gap: 30px;
}

.mat-divider {
    border-top-color: rgb(251, 235, 220, .12);
}

@media only screen and (max-width: 992px) {
    .remove-button {
        display: flex;
        align-items: center;
        padding: 8px 0px;
    }

    .remove-button .mat-mdc-outlined-button {
        margin: 0 0 0 0 !important;
        width: 42px !important;
        min-width: 42px !important;
        height: 42px !important;
        padding: 0 0 !important;
    }
}

.remove-button .mat-mdc-outlined-button {
    background-color: var(--kimberly) !important;

    &:hover {
        background-color: transparent !important;
    }
}

.mat-expansion-panel-header:focus,
.mat-expansion-panel-header:hover {
    background: none !important;
    backdrop-filter: blur(100px);
}

.mat-expansion-indicator:after {
    color: var(--swiss-coffe);
}

.mat-mdc-slider {
    --mdc-slider-handle-color: #FF9914 !important;
    --mdc-slider-focus-handle-color: #FF9914 !important;
    --mdc-slider-hover-handle-color: #FF9914 !important;
    --mdc-slider-active-track-color: #FF9914 !important;
    --mdc-slider-inactive-track-color: #FF9914 !important;
    --mdc-slider-with-tick-marks-inactive-container-color: #FF9914 !important;
    --mat-mdc-slider-ripple-color: #FF9914 !important;
    --mat-mdc-slider-hover-ripple-color: rgba(255, 153, 20, 0.05) !important;
    --mat-mdc-slider-focus-ripple-color: rgba(255, 153, 20, 0.05) !important;

    --mdc-slider-label-container-color: #FF9914 !important;
    --mdc-slider-label-label-text-color: #1F172E !important;
}

.datepicker .mat-mdc-text-field-wrapper {
    cursor: pointer;
    left: 48px;
}

.datepicker input {
    cursor: pointer;
}

.select-field {
    cursor: pointer;
}

.mdc-notched-outline__leading,
.mdc-notched-outline__notch,
.mdc-notched-outline__trailing {
    border-color: var(--antique-white) !important;
}

.mdc-tooltip__surface {
    color: var(--antique-white) !important;
    background-color: var(--scampi) !important;
}

.select-field {
    left: 48px;
    position: relative;
}

.icon-align {
    position: relative;
    top: 3px;
}

.mat-mdc-form-field-error-wrapper {
    padding: 0 4px !important;
}

.flexbox-row-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}