ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px 0;
}


.simulation-card {
    
    // font-size: 18px;
    
}

@media only screen and (max-width: 951px) {
    .simulation-card {
        // przyjrzec sie szerokosci kart dla malych ekranow
        // min-width: 90vw;
        // max-width: 100%
        // padding: 1rem 2rem;
    }
}

// @media only screen and (min-width: 951px) {
//     .simulation-card {
//        max-width: 951px;
//        min-width: 951px;
//     }
// }

.simulation-card {
    padding: 1rem 1.5rem 1rem 1.5rem;
}