
@media only screen and (max-width: 951px) {
    .card-wrapper {
        width: 100vw;
    }
}

@media only screen and (max-width: 600px) {
    .simulation-card {
        padding: 1rem 0.5rem 1rem 0.5rem;
    }

    p {
        padding-left: 1rem;
    }
}

@media only screen and (min-width: 600px) {
    .simulation-card {
        padding: 1rem 1.5rem 1rem 1.5rem;
    }
}

p {
    color: var(--swiss-coffe);
    font-size: 1rem;
}