ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px 0;
}


@media screen and (max-width: 768px) {
    .simulation-card {
        background: coral;
        padding: 1rem 0.6rem;
    }
}

.simulation-card {
    background: radial-gradient(534.03% 696.81% at 76.12% -126.39%, rgba(117, 115, 169, 0.8) 0%, rgba(31, 23, 46, 0.56) 42.26%);
    // font-size: 18px;
}

.header {
    position: sticky;
    top:0;
    z-index: 100;
}